# シャープ付きファイル
\#*#
*#
.#*
# 一時ファイル
.*~
*~

test/
tmp/
*.dat
*~
*.elc
auto-save-list/
server/
eshell/
elpa/yasnippet-20141117.327/snippets/
elpa/ac-html-20141215.2338/html-stuff/
abbrev_defs
.cask/
*.eld
recentf
*.backup
